<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-success" ng-show='msg.length'>
    {{msg}}
</p>

<div class="row">
    <div class="col-sm-12">
        <form class="" action="" method="post">
            <div class="input-group">
                <span class="input-group-btn">
                    <a class="btn btn-primary" href="/fotos/new">Nova Foto</a>
                </span>
                <input type="text" name="filtro" value="" placeholder="Ex: futebol" ng-model="filtro" class="form-control" ng-model-options='{debounce: 500}'>
            </div>
        </form>
    </div>

    <painel-fotos ng-repeat='foto in fotos | filter: {titulo: filtro}' titulo='{{foto.titulo}}' class="col-sm-2 lista-animada">
        <minha-foto url='{{foto.url}}' titulo='{{foto.titulo}}'></minha-foto>
        <div class="">
            <a href="/foto/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
            <btn-perigo acao='deletar(foto)' texto='Deletar'/></btn-perigo>
        </div>
    </painel-fotos><!-- fim panel panel-default -->
</div>
